@use "../../scss/mixins/mixins";
@use "../../scss/mixins/media";
@use "../../scss/variables/colors" as *;

.container {
  @include mixins.dimension(100vw, 55px);

  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 12px;

  background-color: $button-color-transparent;

  backdrop-filter: blur(12px);

  border-radius: 12px;
  border: 4px dashed $shadow-color;

  border-radius: 12px;

  text-align: center;
  line-height: 35px;

  font-size: 64px;

  &:hover {
    color: $green-color-font;
    background-color: $green-color;

    transform: scale(1.05);
  }
}
