@use "../../scss/mixins/mixins";
@use "../../scss/mixins/media";
@use "../../scss/variables/colors" as *;
@use "../../scss/variables/fonts" as *;

.container {
  @include mixins.dimension(250px, 100px);

  @include mixins.flexbox(column);

  background: $task-color-transparent;
  backdrop-filter: blur(64px);

  border-radius: 12px;
  border: 4px solid $border-color;

  font-family: $paragraph-font;
  text-align: center;
  font-size: 24px;
  font-weight: 700;

  z-index: 1;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px 0 $shadow-color;
  }

  &__header {
    color: $text-header-color;
  }

  &__body {
    color: $text-paragraph-color;
    font-size: 12px;
  }

  &__button {
    height: 5px;

    opacity: 25%;
    align-self: self-end;

    font-size: 16px;

    margin: 8px 8px 0px 0px;

    &:hover {
      opacity: 100%;
    }
  }

  @include media.breakpoint(tablet) {
    @include mixins.dimension(450px, 30%);
  }

  @include media.breakpoint(large-tablet) {
    @include mixins.dimension(200px, 100px);
  }

  @include media.breakpoint(laptop) {
    @include mixins.dimension(300px, 100px);
  }

  @include media.breakpoint(desktop) {
    @include mixins.dimension(550px, 150px);
    &__header {
      color: $text-header-color;
      font-size: 32px;
    }

    &__body {
      color: $text-paragraph-color;
      font-size: 24px;
    }

    &__button {
      font-size: 32px;
    }
  }
}
