$header-color: oklch(98.4% 0.003 247.858); //slate 1
$text-header-color: oklch(20.8% 0.042 265.755); //slate 10
$text-paragraph-color: oklch(37.2% 0.044 257.287); //slate 8

$green-color: oklch(72.3% 0.219 149.579/ 0.35); //green 6
$orange-color: oklch(70.5% 0.213 47.604); //orange 6
$red-color: oklch(63.7% 0.237 25.331/ 0.35); //red 6
$blue-color: oklch(69.435% 0.15883 239.919 / 0.35); //sky 6

$green-color-font: oklch(53.264% 0.14984 149.14); //green 6
$orange-color-font: oklch(70.5% 0.213 47.604); //orange 6
$red-color-font: oklch(45.976% 0.188 28.106); //red 6
$blue-color-font: oklch(46.441% 0.0811 235.068); //sky 6

$bg-color: oklch(55.4% 0.046 257.417); //slate 6
$bg-color-light: oklch(96.8% 0.007 247.896); //slate 2

$button-color-transparent: oklch(9.693% 0.00001 271.152 / 0.15); //slate 1

$task-color-transparent: oklch(98.415% 0.00352 248.585 / 0.75); //slate 1

$shadow-color: hsla(0, 0%, 0%, 0.15);
$border-color: rgba(255, 255, 255, 0.25);
