$header-color: oklch(27.9% 0.041 260.031); //slate 9

$green-color: oklch(72.3% 0.219 149.579); //green 6
$orange-color: oklch(70.5% 0.213 47.604); //orange 6
$red-color: oklch(63.7% 0.237 25.331); //red 6
$blue-color: oklch(68.5% 0.169 237.323); //sky 6

$shadow-color: hsla(0, 0%, 0%, 0.25);
$border-color: hsla(0, 0%, 74%, 0.25);
